*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Force tous les éléments à garder leur largeur totale même avec padding et bordure. */
body {
  margin: 0;
}

img,
video {
  max-width: 100%;
  display: block;
}

input,
select,
button {
  font: inherit;
}